Repository GruescuDanziel/PcCraft, pull requests merged in 2021-02, with the labels that each got.

#2 Added a simple DB connection with a basic User model
  backEnd/database/database.js
  backEnd/database/models/user.js
  backEnd/index.js
  backEnd/managers/userController.js
  backEnd/package-lock.json
  backEnd/package.json
Labels: enhancement

#3 Added login page
  frontend/src/components/login.vue
Labels: Frontend

#6 Add bcrypt hashing
  backEnd/managers/userController.js
  backEnd/package-lock.json
  backEnd/package.json
Labels: Backend

#5 added Update/Delete methods
  backEnd/managers/userController.js
Labels: Backend

#8 Added User Interface
  frontend/src/components/Userinterface.vue
Labels: Frontend

#10 Added models for PC Components and some basic create/write functions for the products
  backEnd/database/models/product.js
  backEnd/database/models/user.js
  backEnd/managers/productManager.js
  backEnd/managers/userController.js
Labels: Backend

#11 Register pages
  frontend/src/components/Register.vue
  frontend/src/components/Register2.vue
  frontend/src/components/Wishlist.vue
Labels: Frontend

#9 Added Wishlist page
  frontend/src/components/Wishlist.vue
Labels: Frontend

#15 Clean code
  backEnd/database/database.js
  backEnd/database/models/user.js
  backEnd/index.js
  backEnd/managers/jwtManager.js
  backEnd/managers/productManager.js
  backEnd/managers/userController.js
Labels: Backend
