Repository GruescuDanziel/PcCraft, pull requests merged in 2021-03, with the labels that each got.

#17 Forgotpass
  frontend/src/components/Cart.vue
  frontend/src/components/Forgot.vue
Labels: Frontend

#14 Added Cart page
  frontend/src/components/Cart.vue
Labels: Frontend

#16 Update the arpm branch
  backEnd/database/database.js
  backEnd/database/models/user.js
  backEnd/index.js
  backEnd/managers/jwtManager.js
  backEnd/managers/productManager.js
  backEnd/managers/userController.js
  frontend/src/components/Cart.vue
  frontend/src/components/Forgot.vue
Labels: Backend

#19 Add reset pass method
  backEnd/controlers/userController.js
  backEnd/database/database.js
  backEnd/managers/jwtManager.js
  backEnd/managers/productManager.js
  backEnd/managers/userController.js
  backEnd/package-lock.json
Labels: Backend

#20 Document the current code
  .gitignore
  backEnd/controlers/userController.js
  backEnd/jsdoc.conf.json
  backEnd/managers/jwtManager.js
  backEnd/managers/productManager.js
  backEnd/managers/userController.js
  backEnd/package-lock.json
  backEnd/package.json
  package-lock.json
  package.json
Labels: Backend, documentation
